#submits{
margin-left: 15rem;
background-color: aqua;
}
#submit{
    margin-left: 47rem;
    background-color: aqua;
}
.main{
    display: grid;
    background-color: aqua;
}
#cat-image{

    margin-left: 15rem;
}
#dog-image{
    margin-left: 5rem;
}

