.main{
background-color: red;
color: white;
font-size: 32px;
text-align: center;
}
#a{
  background-color: green;
  color: white;
  font-size: 18px;

}
.button{
    background-color: orange;
    font-size: 18px;
}
.odd{
    background-color: pink;
}
#second{
    font-size: 24px;
}
.num{
    color: blue;
    font-size: 36px;
}
.num2{
    background-color: rgb(12, 240, 12);
    font-size: 24px;
    font-weight: bold;
}
.b1{
    background-color: black;
    color: white;
}
.b2{
    background-color: yellow;

}
.test{
    display: flex;
    background-color: antiquewhite;
    width: 70rem;
}

#text{
    margin-right: 10rem;
    margin-top: 10rem;
}
#image{
    border-image: 4px;
    border-radius: 100px;

}
.parent{
    display: flex;
}
.form{
    display: grid;
    margin-right: 80rem;
}