
nav {
    background-color: lightgray;
    display: flex;
    text-align: center;
    justify-content: space-around;
}

ul {
    display: flex;
    gap: 5rem;
}


main
{
    display: flex;
    gap: 5rem;
    justify-content: center;
    margin-top: 2rem;
    background-color: aqua;
}

footer{
    display:flex;
    justify-content: center;
    background-color: lightgray;
}